.form_cadastro{
    display: flex;
    flex-direction: column;
}

.input_form{
    background: transparent;
    border: 0;
    border-bottom: 0.5vh solid #DC1A1A;
    padding: 1vh;
    margin-top: 2vh;
}

::placeholder{
    color: #DC1A1A;
    opacity: 0.8;
}

.botao_form{
    margin-top: 2vh;
    width: 20%;
    padding: 0.5vh;
    color: #DC1A1A;
    background: transparent;
    border: 0.5vh solid #FFCC00;
    opacity: 0.6;
}

.botao_form:hover{
    opacity: 1;
    transform: scale(1.1);
}
