<%- include('../partials/header'); %>

    <main class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h1 class="text-center">Conteúdo</h1>
                <hr>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae modi suscipit aliquid, animi cumque
                    ducimus repellat doloremque. Repellat corporis atque nisi assumenda voluptas veritatis numquam,
                    obcaecati perspiciatis quis quibusdam quas consectetur soluta illo. Ipsa ea quo aspernatur dolorum.
                    Dolor quod non cupiditate similique consequuntur odio quaerat consectetur vel nemo, cumque placeat
                    quidem provident dolorum earum sapiente quo a. Error dolor hic nesciunt excepturi? Nihil corrupti
                    quia alias ex rerum optio eum voluptatem ducimus impedit sequi, saepe animi, exercitationem rem
                    iusto vitae quos ipsa minus dolore quisquam eveniet! Aperiam dolor debitis optio ipsam placeat ad
                    suscipit quas quam cum accusamus sint ipsa delectus quod unde ut, perferendis, adipisci repudiandae!
                    Omnis hic suscipit culpa expedita, necessitatibus nihil aspernatur, mollitia assumenda porro maxime
                    consequuntur quae cupiditate aperiam pariatur nostrum consectetur animi fugit tempora, provident
                    voluptatum atque id itaque facere. Eos saepe ipsam itaque fugit numquam officiis quaerat ad ex porro
                    distinctio quisquam molestias est tempore nobis, libero debitis neque pariatur et ipsa, quasi id
                    voluptate rem facere. Deserunt a cum illo doloremque doloribus possimus quas ipsa quisquam rerum non
                    voluptates beatae veniam commodi numquam modi, perspiciatis tenetur consectetur excepturi odit
                    dolorum dolor. Nemo optio perferendis tenetur quisquam voluptates! Aliquam eaque porro, similique
                    explicabo quod perspiciatis consectetur aspernatur provident temporibus. Laudantium, consequatur
                    ratione at pariatur doloribus expedita quaerat vero voluptatibus accusantium neque quibusdam soluta
                    consectetur, quia eius magni. Nihil ipsa quo libero, doloribus deserunt minima rem blanditiis
                    reprehenderit repudiandae eum temporibus distinctio dignissimos. Rerum facilis quis necessitatibus
                    culpa sapiente vitae maiores aperiam magni ullam nisi sit dolores, temporibus commodi, eius
                    voluptates harum dolore porro natus blanditiis repellat, sint repudiandae saepe itaque? Eum, totam
                    nobis quis itaque ad ipsa velit, quas quod nemo esse, autem illum natus voluptate? Nostrum incidunt
                    delectus, nobis necessitatibus ipsam tempora. Suscipit ducimus deserunt maiores quam exercitationem
                    et, ratione doloremque minima!
                </p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center">
                <h1>Menu</h1>
                <a name="" id="" class="botao_menu" href="/" role="button">Inicio</a>
                <a name="" id="" class="botao_menu" href="/estoquecompleto" role="button">Estoque Completo</a>
                <a name="" id="" class="botao_menu" href="/estoquesimplificado" role="button">Estoque Simplificado</a>
                <a name="" id="" class="botao_menu" href="/produtos" role="button">Produtos</a>
                <a name="" id="" class="botao_menu" href="/funcionarios" role="button">Funcionarios</a>
                <a name="" id="" class="botao_menu" href="/fornecedores" role="button">Fornecedores</a>
            </div>
        </div>
    </main>

    <%- include('../partials/footer'); %>