<%- include('../partials/header'); %>

    <main class="container-fluid">
        <div class="row">
            <div class="col-md-12 pl-4">
                <p class="rotas"><b>Home/</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="/estoque" class="link_main">
                    <div class="col-md-12 retangle_main">
                        <span class="iconify icons_main" data-icon="vaadin:stock" style="color: #dc1a1a;"></span>
                        <h1 class="h1_main">Estoque</h1>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/produtos" class="link_main">
                    <div class="col-md-12 retangle_main">
                        <span class="iconify icons_main" data-icon="fa-solid:shopping-basket"
                            style="color: #dc1a1a;"></span>
                        <h1 class="h1_main">Produtos</h1>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/funcionarios" class="link_main">
                    <div class="col-md-12 retangle_main">
                        <span class="iconify icons_main" data-icon="clarity:employee-group-solid"
                            style="color: #dc1a1a;"></span>
                        <h1 class="h1_main">Funcionários</h1>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/fornecedores" class="link_main">
                    <div class="col-md-12 retangle_main">
                        <span class="iconify icons_main" data-icon="mdi:account-cash" style="color: #dc1a1a;"></span>
                        <h1 class="h1_main">Fornecedores</h1>
                    </div>
                </a>
            </div>
        </div>
    </main>

    <%- include('../partials/footer'); %>